{%extends 'base.html' %}
{%load static%}

{%block content%}
        {%include 'header.html' %}
        <!--Body-->
            <div class="container">
                <div class="card m-5 p-5" style="box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);">
                    <div class="row justify-content-center" align="center">
                        <div class="col-lg-6 col-md-8 col-12">
                            <h1 style="font-family: 'Baloo Bhai', cursive; font-size:4vw;">Finding the best College to boost your career ?</h1>
                        </div>
                        <div class="col-lg-6 col-md-4 col-9">
                            <img src="{%static 'img/extras/confused_man.png'%}" alt="Confused Man" style="width:100%;">
                        </div>
                    </div>
                </div>


                <div class="card m-5 p-5" style="box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);">
                    <div class="row justify-content-center" align="center">
                        <div class="col-lg-6 col-md-4 col-9">
                            <img src="{%static 'img/extras/student.png'%}" alt="graduate person" style="width:100%;">
                        </div>
                        <div class="col-lg-6 col-md-8 col-12">
                            <h1 style="font-family: 'Baloo Bhai', cursive; font-size:4vw;">BeGraduate comes forward to help student to find right college.</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row justify-content-center" align="center">
                    <div class="col-lg-4 col-md-4">
                        <div class="card m-3 p-3" style="box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-8 col-4">
                                    <img src="{%static 'img/extras/Analyse.png'%}" alt="compair colleges" style="width:100%;">
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <h1 style="font-family: 'Baloo Bhai', cursive; font-size:2.5vw;">Find the best colleges of your area.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card m-3 p-3" style="box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-8 col-4">
                                    <img src="{%static 'img/extras/review.png'%}" alt="Student reviews" style="width:100%;">
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <h1 style="font-family: 'Baloo Bhai', cursive; font-size:2.5vw;">Read genuine reviews on colleges.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card m-3 p-3" style="box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-8 col-4">
                                    <img src="{%static 'img/extras/images.png'%}" alt="college images" style="width:100%;">
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <h1 style="font-family: 'Baloo Bhai', cursive; font-size:2.5vw;">Watch the inside pictures of colleges.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card m-3 p-3" style="box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-8 col-4">
                                    <img src="{%static 'img/extras/link.png'%}" alt="college images" style="width:100%;">
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <h1 style="font-family: 'Baloo Bhai', cursive; font-size:2.5vw;">Get the web link to college website.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card m-3 p-3" style="box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-8 col-4">
                                    <img src="{%static 'img/extras/description.png'%}" alt="college description" style="width:100%;">
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <h1 style="font-family: 'Baloo Bhai', cursive; font-size:2.5vw;">Read description about the college.</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {%include 'footer.html'%}
        <!--EndBody-->
{%endblock%}
