{%load static%}

<div class="jumbotron bg-gray mb-0">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-5">
                <div class="row">
                        <div class="col">
                            <a href="{%url 'landingpage' %}" style="font-size:2rem;color:black;"><b>BeGraduate</b></a>
                        </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <b>Contact Us</b>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-6 col-6">
                        <b>9777352369 <br> 8873639263</b>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-3 col-4">
                        <b>Gmail</b>
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                        <b>support.begraduate@gmail.com</b>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-4">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-sm-12 col-6">
                        Download App
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3 col-2">
                        <img src="{%static 'img/extras/android.png'%}" alt="android" style="width:100%;">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3 col-2">
                        <img src="{%static 'img/extras/apple.png'%}" alt="iphone" style="width:100%;">
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-2">
                        <img src="{%static 'img/extras/facebook.png'%}" alt="facebook" style="width:100%; padding:10%;">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-2">
                        <img src="{%static 'img/extras/instagram.png'%}" alt="instagram" style="width:100%; padding:10%;">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-2">
                        <img src="{%static 'img/extras/twitter.png'%}" alt="twitter" style="width:100%; padding:10%;">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-2">
                        <img src="{%static 'img/extras/youtube.png'%}" alt="youtube" style="width:100%; padding:10%;">
                    </div>
                    <div class="col-12">
                        Socila media pages links are going to be avaliable here
                    </div>
                </div>
            </div>

            <div class="col-lg-12" align="center">
                <hr>
                Copyright ©, BeGraduate.
            </div>
        </div>
    </div>
</div>
